<!--==========================
Header Section
============================-->
<header id="header">
  <div class="container">
  
    <div id="logo" class="pull-left">
      <a href="#hero"><img src="images/logo.png" alt="" title="" /></img></a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>
      
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#hero">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#team">Team</a></li>
<!--         <li class="menu-has-children"><a href="">Drop Down</a>
  <ul>
    <li><a href="#">Drop Down 1</a></li>
    <li class="menu-has-children"><a href="#">Drop Down 2</a>
      <ul>
        <li><a href="#">Deep Drop Down 1</a></li>
        <li><a href="#">Deep Drop Down 2</a></li>
        <li><a href="#">Deep Drop Down 3</a></li>
        <li><a href="#">Deep Drop Down 4</a></li>
        <li><a href="#">Deep Drop Down 5</a></li>
      </ul>
    </li>
    <li><a href="#">Drop Down 3</a></li>
    <li><a href="#">Drop Down 4</a></li>
    <li><a href="#">Drop Down 5</a></li>
  </ul>
</li> -->
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
  
<!--==========================
About Section
============================-->
<section id="about">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">About Us</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">We currently specialize in building web applications for small and medium business owners.</p>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">
      <div class="col-md-6 col-md-push-6 about-content">
        <h2 class="about-title">We provide great services and ideass</h2>
        <p class="about-text">
          We are not in the business of one website design fits all. To us every business is unique and deserves a solution to match their core needs. So, we have developed a successful process to deliver beautiful websites and also measurable results.
        </p>
        <p class="about-text">
          Websites do not have to cost the world to deliver and for this reason we offer tailored solutions to meet individual budgets. We also do not leave our customers out to dry once their solutions have been delivered. When we take on a project, are in for the long haul!
        </p>
        <p class="about-text">
          Bringing development and IT ops together can help you address many app deployment challenges. Our expert guide highlights the benefits of a DevOps approach. Explore how you can successfully integrate your teams to improve collaboration, streamline testing, and more.
        </p>
      </div>
    </div>
  </div>
</section>

<!--==========================
Services Section
============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Our Services</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Best Practices for backend and frontend developers</p>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-4 service-item">
        <div class="service-icon"><i class="fa fa-desktop"></i></div>
        <h4 class="service-title"><a href="">Modern development technology stack</a></h4>
        <p class="service-description">For applications that process millions of transactions per day, scalability, distributed programming and monitoring is very importante</p>
      </div>
      <div class="col-md-4 service-item">
        <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
        <h4 class="service-title"><a href="">Test Driven Development</a></h4>
        <p class="service-description">This is an evolutionary approach to development which combines test-first development where you write a test before you write just enough production code to fulfill that test and refactoring.</p>
      </div>
      <div class="col-md-4 service-item">
        <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
        <h4 class="service-title"><a href="">RESTfull JSON API (GraphQL)</a></h4>
        <p class="service-description">For those who are unfamiliar, GraphQL is an application layer query language. It interprets a string from a server or client, returning the data in a pre-defined schema as dictated by the requester. As the GraphQL official site states: “Describe your data, ask for what you want, get predictable results.“</p>
      </div>
      <div class="col-md-4 service-item">
        <div class="service-icon"><i class="fa fa-photo"></i></div>
        <h4 class="service-title"><a href="">Agile-based projects</a></h4>
        <p class="service-description">Docker is a container management service. The keywords of Docker are develop, ship and run anywhere. The whole idea of Docker is for developers to easily develop applications, ship them into containers which can then be deployed anywhere.</p>
      </div>
      <div class="col-md-4 service-item">
        <div class="service-icon"><i class="fa fa-road"></i></div>
        <h4 class="service-title"><a href="">The Twelve Factors App</a></h4>
        <p class="service-description">Using modern language toolchains alongside the strict separation of code and config that the Heroku CLI and Add-ons program require ensures a portable application and provides a set of environment-independent practices that enable you to run in the same fashion locally as your app does in production.</p>
      </div>
      <div class="col-md-4 service-item">
        <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
        <h4 class="service-title"><a href="">Follow Steve McConnell Code Complete (Clean code)</a></h4>
        <p class="service-description">For more than a decade, Steve McConnell, one of the premier authors and voices in the software community, has helped change the way developers write code - and produce better software. Now his classic book, CODE COMPLETE, has been fully updated and revised with best practices in the art and science of constructing software</p>
      </div>
    </div>
  </div>  
</section>

<!--==========================
Subscrbe Section
============================-->  
<section id="subscribe">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-8">
        <h3 class="subscribe-title"></h3>
        <p class="subscribe-text"></p>
      </div>
      <div class="col-md-4 subscribe-btn-container">
        <!--<a class="subscribe-btn" href="payment.php">Payment methods</a>-->
      </div>
    </div>
  </div>
</section>

<!--==========================
Porfolio Section
============================-->
<!--
<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Portfolio</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">It's great if all this was done really by us</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url(img/portfolio-1.jpg);" href="https://railgunner.herokuapp.com" target="_blank">
          <div class="details">
            <h4>Open Source Project</h4>
            <span>Twelve-Factor project template</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url(img/portfolio-2.jpg);" href="https://prochat.herokuapp.com/" target="_blank">
          <div class="details">
            <h4>Pro Chat</h4>
            <span>Chat with session support on NodeJS</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url(img/portfolio-3.jpg);" href="http://ledinu.ru/" target="_blank">
          <div class="details">
            <h4>Adaptive landing with feedback form</h4>
            <span>Site - a business card of a psychologist</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url(img/portfolio-4.jpg);" href="https://github.com/Mifrill/parsers" target="_blank">
          <div class="details">
            <h4>Parser for dns-shop.ru</h4>
            <span>Retrieves the list of prices for goods in all cities</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url(img/portfolio-5.jpg);" href="http://mebel-park.kz/" target="_blank">
          <div class="details">
            <h4>Internet furniture store on OpenCart</h4>
            <span>Comprehensive work and support</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url(img/portfolio-6.jpg);" href="https://freelance.000webhostapp.com/orlavs/" target="_blank">
          <div class="details">
            <h4>Home video Orlavs</h4>
            <span>Adaptive Landing</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url(img/portfolio-7.jpg);" href="http://optdvor.kz/" target="_blank">
          <div class="details">
            <h4>Shop doors. Drupal</h4>
            <span>Adding functionality</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url(img/portfolio-8.jpg);" href="http://boomeranger.ru" target="_blank">
          <div class="details">
            <h4>Shop of action cameras</h4>
            <span>Adaptive Landing on WordPress</span>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</section>
-->
<!--==========================
Testimonials Section
============================--> 
<!--
<section id="testimonials">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Testimonials</h3>
        <div class="section-title-divider"></div>
          <div class="col-12">
            <div id="vk_comments"></div>
              <script type="text/javascript">
              VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
              </script>
              <br>
          </div>
        <p class="section-description"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="profile">
          <div class="pic"><img src="img/client-1.jpg" alt=""></div>
          <h4>Saul Goodman</h4>
          <span>Lawless Inc</span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="quote">
          <b><img src="img/quote_sign_left.png" alt=""></b> Generally do normally quickly and efficiently. <small><img src="img/quote_sign_right.png" alt=""></small>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-9">
        <div class="quote">
          <b><img src="img/quote_sign_left.png" alt=""></b> More and reviews themselves come up with a super. <small><img src="img/quote_sign_right.png" alt=""></small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile">
          <div class="pic"><img src="img/client-2.jpg" alt=""></div>
          <h4>Sara Wilsson</h4>
          <span>Odeo Inc</span>
        </div>
      </div>
    </div>
    
  </div>
</section>
-->
<!--==========================
Team Section
============================-->    
<section id="team">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Our Team</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"></p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="member">
          <div class="pic"><img src="img/team-1.jpg" alt=""></div>
          <h4>Strizhak Aleksey</h4>
          <span>CEO, Full Stack Web Developer</span>
          <div class="social">
            <a href="https://t.me/AlexeiMifrillStrizhak" target="_blank"><i class="fa fa-telegram"></i></a>
            <a href="https://strizhakgroup.slack.com/messages/" target="_blank"><i class="fa fa-slack"></i></a>
            <a href="https://github.com/Mifrill" target="_blank"><i class="fa fa-github"></i></a>            
            <a href="https://bitbucket.com/Mifrill" target="_blank"><i class="fa fa-bitbucket"></i></a>
            <a href="https://gitlab.com/mifrill" target="_blank"><i class="fa fa-gitlab"></i></a>
            <a href="https://codepen.io/Mifrill" target="_blank"><i class="fa fa-codepen"></i></a>            
            <a href="https://jsfiddle.net/user/Mifrill/fiddles/" target="_blank"><i class="fa fa-jsfiddle"></i></a>
            <a href="skype:alex_mifrill" target="_blank"><i class="fa fa-skype"></i></a>
            <a href="https://twitter.com/Strizhak_Group" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/alexey.m.strizhak" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/u/0/110974725546795379467" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.linkedin.com/in/aleksey-strizhak-a5918981/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="member">
          <div class="pic"><img src="img/team-2.jpg" alt=""></div>
          <h4>Strizhak Nikolay</h4>
          <span>Chief accountant, project manager</span>
          <div class="social">
            <a href="skype:ziGFried-" target="_blank"><i class="fa fa-skype"></i></a>
            <a href="https://twitter.com/Strizhak_Group" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      
    </div>  
  </div>
</section>
  
<!--==========================
Contact Section
============================--> 
<section id="contact">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Contact Us</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Use the feedback form to submit an application</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3 col-md-push-2">
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Tyumen, Russia</p>
          </div>
          
          <div>
            <i class="fa fa-envelope"></i>
            <p>Strizhak_Group@mail.com</p>
          </div>
          
          <div>
            <i class="fa fa-phone"></i>
            <p>+7 (922) 046 38 46<br>+7 (922) 002 72 81</p>
          </div>
          
        </div>
      </div>
      
      <div class="col-md-5 col-md-push-2">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm" id="form-proposal">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone number"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
